<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap">

        <!-- 파비콘 -->
        <link rel="shotcut icon" href="/public/img/common/campFire.ico" type="image/x-icon">

        <!-- Google Material Icons -->
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

        <link rel="stylesheet" href="/public/css/insta/instaStyle.css">
        <link rel="stylesheet" href="/public/css/common.css">
        <link rel="stylesheet" href="/public/css/basecamp.css">

        <!-- 이걸로 레이아웃 확인하셈 -->
        <script src="/public/js/lockLikeMobile.js"></script>
        
        <title>BASECAMP</title>

        <script src="/public/js/util.js"></script>

        <style>
            /* 고정 */
            .fontBasic {
                font-size: 0.8em;
            }
            .fontNine {
                font-size: 0.9em;
            }
            /* 상단바 높이 */
            .fixed-top {
                text-align: center;
                justify-content: space-around; /* 가로 중앙 정렬 */
                align-items: center; /* 세로 중앙 정렬 */
                height: 50px; /* 원하는 높이로 설정 */
            }
            .fixed-bottom {
                text-align: center;
                justify-content: space-around; /* 가로 중앙 정렬 */
                align-items: center; /* 세로 중앙 정렬 */
                height: 70px; /* 원하는 높이로 설정 */
            }

            /* 이미지 크기 */
            .userImage {
                width: 80px;  /* 원하는 너비 */
                height: 80px; /* 원하는 높이 */
                object-fit: cover; /* 이미지가 요소를 채우도록 조정 */
            }

            .instaButtonColor {
                color: #0095f6;
            }

            /* 마이페이지, 유저페이지, 북마크페이지 */
            .middle-image {
                width: 100%; /* 너비를 조정 */
                height: 100%; /* 높이는 자동으로 조정 */
            }
            

        </style>

        <script>
            // let myId = null; // myId =  session아이디 _ 글로벌 변수
            let myInstaId = null;

            // function setSessionId(){
            //     // const = JavaScript에서 변수를 선언하는 키워드
            //     const url = "/api/user/getSessionUserId";

            //     /* fetch = JavaScript에서 네트워크 요청을 보내는 함수입니다. 이는 HTML form을 사용하여 서버에 데이터를 제출하는 것과 비슷합니다.
            //     그러나 fetch는 더 유연하고, 비동기적으로 작동하여 페이지를 다시 로드하지 않고 서버와 통신할 수 있습니다. */
            //     fetch(url)
            //     .then(response => response.json())
            //     .then((response) => {
            //         myId = response.data.userId

            //         console.log("Session ID has been set:", myId); // 콘솔에 찍힐 세션 id
            //         setMyInstaId();
            //     })
            //     ;
            // }

            function setMyInstaId(){
                const url = "/api/insta/getMyInstaId";

                fetch(url)
                .then(response => response.json())
                .then((response) => {
                    myInstaId = response.data.myInstaId

                    console.log("sessionGetInstaId ID has been set:", myInstaId); // 콘솔에 찍힐 세션 id
                })
                ;
            }

            window.addEventListener("DOMContentLoaded", () => {
                // 페이지 로드 후 사실상 시작 지점
                setMyInstaId();

            });

        </script>

    </head>
    <body>
        <div class="container">
            <!-- 상단바 -->
            <div class="row mb-5 border-bottom fixed-top px-2" style="background-color: white;">
                <a class="col-auto d-flex align-items-center" th:href="@{./instaMainPage(user_id=${session.sessionUserInfo.id})}" style="color: black;">
                    <span class="material-symbols-outlined fw-light">
                        arrow_back
                    </span>
                </a>
                <div class="col-8 pe-1">
                    <span th:text="${instaUserInfoDto.insta_nickname}">my닉네임</span>
                    <img src="/public/img/instaImage/badge.png" class="img-fluid" style="width: 13px; height: 13px;">
                </div>
                <div class="col-auto">
                    <a href="#" style="color: black;">
                        <i class="bi bi-list fs-2"></i>
                    </a>
                </div>
            </div>

            <div class="row mt-5 pt-4 fontNine">
                <div class="col-auto" style="position: relative;">
                    <img src="/public/img/instaImage/story.jpg" class="img-fluid rounded-circle userImg">
                    <img th:src="|/images/${instaUserInfoDto.insta_profile_img}|" class="img-fluid rounded-circle userImage" style="position: relative;">
                </div>
                <div class="col align-self-center">
                    <div class="row text-center fw-bold">
                        <div class="col">
                            <span th:text="${articleCount}">13</span>
                        </div>
                        <a class="col" href="#" style="text-decoration: none; color: black;">
                            <span th:text="${followingCount}">254</span>
                        </a>
                        <a class="col" href="#" style="text-decoration: none; color: black;">
                            <span th:text="${followerCount}">250</span>
                        </a>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <span>게시물</span>
                        </div>
                        <a class="col" href="#" style="text-decoration: none; color: black;">
                            <span>팔로워</span>
                        </a>
                        <a class="col" href="#" style="text-decoration: none; color: black;">
                            <span>팔로잉</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col fontBasic">
                    <span th:utext="${instaUserInfoDto.intro}">소개글 _ intro</span>
                </div>
            </div>

            <div class="row mt-3 fontNine">
                <div class="col">
                    <a class="badge d-grid darkBg" href="#" style="height: 30px; text-decoration: none;">
                        <span class="align-self-center" style="font-size: 1.2em;">프로필 편집</span>
                    </a>
                </div>                
            </div>

            <!-- 일단은 링크이동 어차피 두가지 템플릿이 다 필요해 그러니까 나중에 자바스크립트로 바꾸기~~~ 라고 원숭이가 그랬음 우끼끼 -->
            <div class="row mt-4 fontNine" style="padding-bottom: 2px;">
                <div class="col text-center pb-2 fw-bold" style="border-bottom: 1px solid;">
                    <span>내 게시물</span>
                </div>
                <a class="col text-center border-bottom" th:href="@{./instaBookmarkPage(user_id=${instaUserInfoDto.id})}" style=" text-decoration: none; color: black;">
                    <span>북마크</span>
                </a>
            </div>

            <!-- 내 게시물 List -->
            <div class="row">
                <a class="col-4 px-0 pb d-flex" style="padding-bottom: 0.5%;" th:href="@{./instaArticleDetailPage(user_id=${session.sessionUserInfo.id}, article_id=${instaArticleImgDto.article_id})}" th:each="instaArticleImgDto, iterStat : ${instaArticleImgDtoList}">
                    <div th:class="${iterStat.index % 3 == 1} ? 'middle' : ''">
                        <img th:src="|/images/${instaArticleImgDto.img_link}|" class="img-fluid" style="object-fit: cover; object-position: center; aspect-ratio: 1/1;"
                             th:classappend="${iterStat.index % 3 == 1} ? 'middle-image' : ''">
                    </div>
                </a>
            </div>

            <!-- 글쓰기 버튼 -->
            <!-- style="aspect-ratio: 1/1;" -> 익스펙토 주문 : 정방향을 만들어준다 -->
            <!-- <div class="write-button-container">
                <form action="./instaWritePage" method="get">
                    <button class="btn bg-white rounded-2 border border-2 border-black px-2 py-1" type="submit">
                        <i class="fa-solid fa-plus"></i>
                        <input type="hidden" name="user_id" th:value="${session.sessionUserInfo.id}">
                    </button>
                </form>
            </div> -->
        </div>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
    </body>
</html>










