<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bulmeong.basecamp.campingcar.mapper.PartnerCampingCarSqlMapper">
    <!-- 판매자 회원가입 -->
    <insert id="createSeller">
        insert into bc_rental_company_info(
            location_category_id, account_id, account_pw, crn, comp_name, representative_name,
		    comp_email, comp_address, comp_detailed_address, contact_number, comp_profile_image, comp_nickname, comp_url
        )values(
            #{location_category_id}, #{account_id}, #{account_pw}, #{crn}, #{comp_name}, #{representative_name},
		    #{comp_email}, #{comp_address}, #{comp_detailed_address}, #{contact_number}, #{comp_profile_image}, #{comp_nickname}, #{comp_url}
        )
    </insert>

    <!-- 판매자 로그인시, id,password 확인 쿼리 -->
    <select id="selectCompanyByAccountIdandPw" resultType="com.bulmeong.basecamp.campingcar.dto.RentalCompanyDto">
        select * from bc_rental_company_info
        where account_id = #{account_id}
        and account_pw = #{account_pw}
    </select>

    <!-- 판매자회원가입_지역Category -->
    <select id="findLocationAll" resultType="com.bulmeong.basecamp.campingcar.dto.LocationDto"> 
        select*from bc_location_category
        order by id ASC
    </select>
    <!--  펀매자 id 가지고 오는 쿼리 -->
    <select id="getRentalCompanyInfoByid" resultType="com.bulmeong.basecamp.campingcar.dto.RentalCompanyDto">
        select * from bc_rental_company_info
        where id=#{id}
    </select>
    <select id="getCompingCarByid" resultType="com.bulmeong.basecamp.campingcar.dto.CampingcarDto">
        select * from bc_campingcar
        where id=#{id}
    </select>

    <!-- 차량 등록 -->
    <insert id="createCamping">
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            select max(id) from bc_campingcar
        </selectKey>
            insert into bc_campingcar (
                rental_company_id, category_id, product_name, main_img, short_description, detailed_description,
                rental_fee_weekdays, rental_fee_weekend, garage_address, overnight_stay, seating_capacity, sleeping_capacity, avaid_time, 
                return_dateTime, driver_license_id, driver_experience_id, driver_age_id, pet_friendly,
                cancellation_policy, is_opened, update_date
            )values(
                #{rental_company_id}, #{category_id}, #{product_name}, #{main_img}, #{short_description}, #{detailed_description},
                #{rental_fee_weekdays}, #{rental_fee_weekend}, #{garage_address}, #{overnight_stay}, #{seating_capacity}, #{sleeping_capacity}, #{avaid_time}, 
                #{return_dateTime}, #{driver_license_id}, #{driver_experience_id}, #{driver_age_id}, #{pet_friendly},
                #{cancellation_policy}, #{is_opened}, #{update_date}
            )
    </insert>
    
    <!-- 성수기 가격  및 시작일/종료일 지정 -->
    <insert id="createRentalPeakPrice">
        insert into bc_rental_peak_price(
            product_id,
            weekdays_price, 
            weekend_price,
            peak_start_date,
            peak_end_date,
            updated_at
        ) values (
            #{product_id},
            #{weekdays_price}, 
            #{weekend_price},
            #{peak_start_date},
            #{peak_end_date},
            #{updated_at}
        )
    </insert>

    <!-- 특정 차량의 성수기 가격 정보 가져오기 -->
    <select id="getRentalPeakPriceByProductId" resultType="com.bulmeong.basecamp.campingcar.dto.RentalPeakPriceDto">
        select * from bc_rental_peak_price where product_id = #{product_id}
    </select>

    <!-- 성수기 날짜 업데이트 -->
    <update id="updateRentalPeakDates">
        update bc_rental_peak_price
        set
            peak_start_date = #{peak_start_date},
            peak_end_date = #{peak_end_date}
        where product_id = #{product_id}
    </update>

    <!-- 성수기/휴일관리_캘린더 표시를 위한 등록 차량 리스트 -->
    <select id="getcampingCarListForCalendar" resultType="Map">
        select         
                bc.id AS product_id,
                brci.comp_name, 
                bctc.name AS car_type_name, 
                bc.product_name, 
                bc.rental_fee_weekdays, 
                bc.rental_fee_weekend,
                brpp.weekdays_price AS peak_weekdays_price,
                brpp.weekend_price AS peak_weekend_price,
                brpp.peak_start_date,
                brpp.peak_end_date,
                bc.created_at ,
                brpp.created_at AS peakDate_create_at,
                brpp.updated_at
        from bc_campingcar bc 
        INNER join 
                    bc_rental_company_info brci on bc.rental_company_id = brci.id
        inner join 
                    bc_car_type_categories bctc on bc.category_id = bctc.id
        left join 
                    bc_rental_peak_price brpp on bc.id = brpp.product_id
        where bc.rental_company_id = #{id}
        order by bc.id DESC
    </select>


    <!-- 차량등록X보유시설 -->
    <insert id="createCarBasic">
        insert into bc_product_x_basic_facilities (product_id,basic_facilities_id) 
        values(#{product_id},#{basic_facilities_id})
    </insert>

    <!-- 차량 등록_캠핑카 유형, 운전면허증, 운전자 나이, 운전 경력 카테고리 select -->
    <select id="findCarTypeAll" resultType="com.bulmeong.basecamp.campingcar.dto.CarTypeDto">
        select * from bc_car_type_categories
        order by id ASC
    </select>
    <select id="findDriverLicenseAll" resultType="com.bulmeong.basecamp.campingcar.dto.DriverLicenseDto">
        select * from bc_driver_license_condition
        order by id ASC
    </select>

    <select id="findDriverAgeAll" resultType="com.bulmeong.basecamp.campingcar.dto.DriverAgeCondDto">
        select * from bc_driver_age_condition 
        order by id ASC
    </select>

    <select id="findDriverExperienceAll" resultType="com.bulmeong.basecamp.campingcar.dto.DriverExperienceCondDto">
        select * from bc_driver_experience_condition
        order by id ASC    
    </select>

    <!-- 캠핑차 차량 기본 보유 시설 category  -->
    <select id="findBasicFacilitiesAll" resultType="com.bulmeong.basecamp.campingcar.dto.BasicFacilitiesDto">
        select * from bc_car_basic_facilities 
        order by id ASC
    </select> 

    <!-- 차량등록_상세이미지 -->
    <insert id="createDetailImg">
        insert into bc_product_detail_img(
            product_id,location,original_filename
        ) values(
            #{product_id}, #{location}, #{original_filename}
        )
    </insert>
    <!-- main 페이지의 차량 등록 list(외래키의 받은 모든 테이블을 엮음) : 
    차량등록, 회사,회사지역카태고리,캠핑카유형, 운전자조건(면허증,경력,나이),좋아요, 성수기 가격 -->
    <select id="findCampingCarAll" resultType="map">
    select
        bc.id, 
        bc.rental_company_id,
        brci.comp_name, 
        bctc.name AS car_type_name, 
        bc.product_name, 
        bc.main_img, 
        bc.short_description,
        bc.rental_fee_weekdays, 
        bc.rental_fee_weekend,
        bc.garage_address, 
        bc.overnight_stay,
        bc.seating_capacity, 
        bc.sleeping_capacity, 
        bdlc.name AS driver_license_condition_name, 
        bdac.name AS driver_age_condition_name, 
        bdec.name AS driver_experience_condition_name,
        bc.pet_friendly, 
        bc.is_opened
    from bc_campingcar bc
    inner join bc_rental_company_info brci on bc.rental_company_id = brci.id 
    inner join bc_location_category blc on brci.location_category_id = blc.id
    inner join bc_car_type_categories bctc on bc.category_id = bctc.id
    inner join bc_driver_license_condition bdlc on bc.driver_license_id = bdlc.id 
    inner join bc_driver_age_condition bdac  on bc.driver_age_id = bdac.id
    inner join bc_driver_experience_condition bdec on bc.driver_experience_id = bdec.id
    left join bc_campingcar_like cl on cl.product_id = bc.id 
    left join bc_rental_peak_price brpp on bc.id = brpp.product_id 
    group by bc.id
    order by bc.id DESC
    </select>

    <!-- 차량관리 -->
    <select id="findCampingCarBySellerId" resultType="map">
    select  
        bc.id, 
        bc.rental_company_id,
        brci.comp_name, 
        bctc.name AS car_type_name, 
        bc.product_name, 
        bc.main_img, 
        bc.short_description,
        bc.rental_fee_weekdays, 
        bc.rental_fee_weekend,
        bc.garage_address, 
        bc.overnight_stay,
        bc.seating_capacity, 
        bc.sleeping_capacity, 
        bdlc.name AS driver_license_condition_name, 
        bdac.name AS driver_age_condition_name, 
        bdec.name AS driver_experience_condition_name,
        bc.pet_friendly, 
        bc.is_opened,
        brpp.*
    from bc_campingcar bc 
        INNER join bc_rental_company_info brci on bc.rental_company_id = brci.id
        INNER join bc_location_category blc on brci.location_category_id = blc.id
        inner join bc_car_type_categories bctc on bc.category_id = bctc.id
        INNER join bc_driver_license_condition bdlc on bc.driver_license_id = bdlc.id
        INNER join bc_driver_age_condition bdac on bc.driver_age_id = bdac.id
        INNER join bc_driver_experience_condition bdec on bc.driver_experience_id = bdec.id
        left join bc_campingcar_like cl on cl.product_id = bc.id 
        left join bc_rental_peak_price brpp on bc.id = brpp.product_id
        where bc.rental_company_id = #{rental_company_id}
        order by bc.id DESC
    </select>

    <!-- 판매자의 예약신청 내역 -->
    <select id="findbookReservationAll" resultType="Map">
    select 	br.id,
            bu.nickname As rentUserNickname,
            bctc.name AS carTypeName,
            bc.product_name,
            br.start_date AS reservationStart_date,
            br.end_date AS reservationEnd_date,
            bdlc.name AS driver_license_name,
            bdac.name AS driver_age_condition_name,
            bdec.name AS driver_experience_condition_nam,
            br.progress, 
            br.created_at AS reservationCreated_at 
    from bc_reservation br 
    inner join bc_rent_user bru on br.rent_user_id = bru.id
    inner join bc_user bu on bru.user_id = bu.id
    inner join bc_campingcar bc on br.product_id = bc.id 
    inner join bc_car_type_categories bctc on bc.category_id = bctc.id
    inner join bc_driver_license_condition bdlc on bru.driver_license_id = bdlc.id 
    inner join bc_driver_age_condition bdac on bru.driver_age_id = bdac.id 
    inner join bc_driver_experience_condition bdec on bru.driver_experience_id = bdec.id 
    inner join bc_rental_company_info brci on bc.rental_company_id = brci.id
    where bc.rental_company_id = #{id}
    order by br.id DESC
    </select>

    <update id="reserationApproved">
    update bc_reservation  
    set progress = #{progress}
    where id=#{id}
    </update>

    <!-- 판매자 : 리뷰 관리 -->
    <select id="reviewManagebyRentCompanyId" resultType="Map">
        select 
                brr.id AS reviewId,
                bc.id AS product_id,
                bc.product_name,
                bu.nickname,
                br.start_date,
                br.end_date,
                brr.rate,
                brr.content,
                brr.created_at,
                brr.reply_content,
                brr.reply_date
    from bc_rental_review brr
    INNER JOIN 
                bc_reservation br on brr.reservation_id = br.id
    INNER JOIN 
                bc_campingcar bc on br.product_id = bc.id
    INNER JOIN 
                bc_rental_company_info brci on bc.rental_company_id = brci.id 
    INNER JOIN 
                bc_rent_user bru on br.rent_user_id = bru.id 
    INNER JOIN 
                bc_user bu on bru.user_id = bu.id
    where brci.id = #{id}
    order by brr.id DESC
    </select>

    <!-- 판매자 : 리뷰 관리의 답글 -->
    <update id="reivewReplyContentByReviewId">
        UPDATE bc_rental_review
        set reply_content = #{reply_content}, reply_date = NOW()
        where id= #{id}
    </update>

    <!-- 판매자 : 차량 대여 관리 -->
    <select id="rentalManagementList" resultType="Map">
        select 
                br.id AS reservation_id,
                bu.nickname AS rentUserNickname,
                bctc.name AS carTypeName,
                bc.product_name,
                brei.id AS external_inspection_Id,
                brei.create_at AS external_inspection_Create_at,
                br.progress
    from bc_reservation br 
    INNER JOIN 
                bc_rental_external_inspection brei on br.id = brei.reservation_id 
    INNER JOIN 
                bc_rent_user bru on br.rent_user_id = bru.id
    INNER JOIN 
                bc_user bu on bru.user_id = bu.id
    INNER JOIN 
                bc_campingcar bc on br.product_id = bc.id 
    INNER JOIN 
                bc_car_type_categories bctc on bc.category_id = bctc.id
    INNER JOIN 
                bc_rental_company_info brci on bc.rental_company_id = brci.id 
    where bc.rental_company_id = #{id}
    </select>
    
    <!-- 판매자 : 대여 사진 리스트 -->
    <select id="rentalShootList" resultType="Map">
        select 
                brei.front_view,
                brei.passenger_front_view,
                brei.passenger_rear_view,
                brei.rear_view,
                brei.driver_rear_view,
                brei.driver_front_view
    from 
                bc_rental_external_inspection brei 
    INNER JOIN 
                bc_reservation br on brei.reservation_id = br.id
    where brei.reservation_id=#{id}
    </select>

    <!-- 판매자 : 반납 관리 리스트-->
    <select id="returnManagementList" resultType="Map">
    select 
                br.id AS reservation_id,
                bu.nickname AS rentUserNickname,
                bctc.name AS carTypeName,
                bc.product_name,
                br.progress
    from bc_reservation br
    INNER JOIN 
                bc_rent_user bru on br.rent_user_id = bru.id
    INNER JOIN 
                bc_user bu on bru.user_id = bu.id
    INNER JOIN 
                bc_campingcar bc on br.product_id = bc.id 
    INNER JOIN 
                bc_car_type_categories bctc on bc.category_id = bctc.id
    INNER JOIN 
                bc_rental_company_info brci on bc.rental_company_id = brci.id 
    where bc.rental_company_id = #{id}
    </select>

    <!-- 반납시 차량 점검  -->
    <insert id="createReturnShoot">
        insert into bc_return_external_inspection(
            reservation_id, 
            front_view, 
            passenger_front_view, 
            passenger_rear_view, 
            rear_view, 
            driver_rear_view,
            driver_front_view
        )values(
            #{reservation_id},
            #{front_view},
            #{passenger_front_view},
            #{passenger_rear_view},
            #{rear_view},
            #{driver_rear_view},
            #{driver_front_view}
        )
    </insert>
</mapper>