<!DOCTYPE html>
<html lang="kr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <script src="https://kit.fontawesome.com/7b271bba58.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/public/css/font.css">
        <link rel="stylesheet" href="/public/css/basecamp.css">
        <link rel="stylesheet" href="/public/css/storeSeller/storeSeller.css">
        
        <title>Basecamp - Store Center</title>

        <style>
            /* manageReview */
            .dark-outline-button{
                border: 1px solid #1F2D3D;
                background-color: white;
            }
            .dark-outline-button:hover{
                background-color: #1F2D3D;
                color: white;
            }
            .orangered{
                color: orangered;
            }
            #replyTextarea::placeholder{
                font-size: 0.9em;
                color: #818181;
                font-weight: 300;
            }
            #replyTextarea{
                height: 100px;
                border: 1px solid #e3e3e3;
            }
            #replyTextarea:focus{
                outline: 1px solid #5e9cc8;
            }
        </style>
    </head>
    <body style="background-color: #F5F5F5;">

        <div th:replace="~{store/FsellerNavi::topNavi}"></div>

        <div class="container-fluid">
            <div class="row">
                <!-- left -->
                <div class="col-2 border-end scrollable scrollBar left" id="leftAccordion" style="padding-top: 60.58px; background-color: #FAFAFA;">
                    
                    <div class="row py-4 border-bottom">
                        <div class="col">

                            <div class="row">
                                <div class="col seller_profile text-center">
                                    <img src="/public/img/common/default_profile.png" class="rounded-circle">
                                </div>
                            </div>
                            <div class="row text-center pt-2 fw-semibold">
                                <div class="col">
                                    <span th:if="${session.sessionStoreInfo!=null}" th:text="${session.sessionStoreInfo.name}">사카밤바스피스</span>
                                </div>
                            </div>
                            <div class="row pt-1 text-center">
                                <div class="col f08 text-body-tertiary">
                                    통합 매니저
                                </div>
                            </div>
                            <!-- <div class="row pt-3 px-3">
                                <div class="col px-2 d-grid rounded-2 border bg-white">
                                    <select class="f09 py-2 border-0 bg-transparent" id="">
                                        <option value="">수취인명</option>
                                        <option value="">구매자명</option>
                                        <option value="">구매자아이디</option>
                                        <option value="">주문번호</option>
                                        <option value="">상품번호</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row pt-2 px-3">
                                <div class="col border rounded-2 bg-white">
                                    <div class="row">
                                        <div class="col p-0">
                                            <input type="text" class="border-0 px-2 py-2 bg-transparent searchInput w-100" placeholder="입력 후 검색하세요">
                                        </div>
                                        <div class="col-auto px-2 d-flex align-items-center">
                                            <span class="material-symbols-outlined f12">
                                                search
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                    </div>

                    <div class="row category px-3">
                        <div class="col p-0 d-grid border-bottom">
                            <a href="/storeCenter/dashboard" type="button" class="py-3 fw-semibold">
                                Dashboard
                            </a>
                        </div>
                    </div>
                    <div class="row category toggle-icon px-3" data-bs-toggle="collapse" data-bs-target="#first-collapse">
                        <div class="col border-bottom p-0">
                            <div class="row">
                                <div class="col pe-0 d-grid fs-5">
                                    <button type="button" class="py-3 accordion-button collapsed fw-semibold">
                                        상품관리
                                    </button>
                                </div>
                                <div class="col-auto ps-0 d-grid fs-5">
                                    <button type="button" class="py-3 accordion-button collapsed">
                                        <i class="bi bi-chevron-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row accordion-collapse collapse p-0" id="first-collapse" data-bs-parent="#leftAccordion">
                        <div class="col">
                            <a class="row accordion-body py-3 ps-4 subcategory" href="/storeCenter/productManage">
                                상품조회/수정
                            </a>
                            <a class="row accordion-body py-3 ps-4 subcategory" href="/storeCenter/productRegister" id="productRegister">
                                상품등록
                            </a>
                            <!-- <a class="row accordion-body py-3 ps-4 subcategory" href="/storeCenter/deliveryInfo">
                                배송정보 관리
                            </a> -->
                        </div>
                    </div>

                    <div class="row category toggle-icon px-3" data-bs-toggle="collapse" data-bs-target="#second-collapse">
                        <div class="col border-bottom p-0">
                            <div class="row">
                                <div class="col pe-0 d-grid fs-5">
                                    <button type="button" class="py-3 accordion-button collapsed fw-semibold">
                                        판매관리
                                    </button>
                                </div>
                                <div class="col-auto ps-0 d-grid fs-5">
                                    <button type="button" class="py-3 accordion-button collapsed">
                                        <i class="bi bi-chevron-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row accordion-collapse collapse p-0" id="second-collapse" data-bs-parent="#leftAccordion">
                        <div class="col">
                            <!-- <a class="row accordion-body py-3 ps-4 subcategory" href="/storeCenter/orderIntegration">
                                주문 통합 검색
                            </a> -->
                            <a class="row accordion-body py-3 ps-4 subcategory" href="/storeCenter/sendProcessing">
                                발송관리
                            </a>
                            <!-- <a class="row accordion-body py-3 ps-4 subcategory" href="/storeCenter/cancelManage">
                                취소관리
                            </a> -->
                            <!-- <a class="row accordion-body py-3 ps-4 subcategory" href="/storeCenter/returnManage">
                                반품관리
                            </a> -->
                        </div>
                    </div>

                    <!-- <div class="row category toggle-icon px-3" data-bs-toggle="collapse" data-bs-target="#third-collapse">
                        <div class="col border-bottom p-0">
                            <div class="row">
                                <div class="col pe-0 d-grid fs-5">
                                    <button type="button" class="py-3 accordion-button collapsed fw-semibold">
                                        문의/리뷰 관리
                                    </button>
                                </div>
                                <div class="col-auto ps-0 d-grid fs-5">
                                    <button type="button" class="py-3 accordion-button collapsed">
                                        <i class="bi bi-chevron-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row accordion-collapse collapse p-0" id="third-collapse" data-bs-parent="#leftAccordion">
                        <div class="col">
                            <a class="row accordion-body py-3 ps-4 subcategory" href="/storeCenter/manageQnA">
                                문의관리
                            </a>
                            <a class="row accordion-body py-3 ps-4 subcategory" href="/storeCenter/manageReview">
                                리뷰관리
                            </a>
                        </div>
                    </div> -->


                    <div class="row category px-3">
                        <div class="col p-0 d-grid border-bottom">
                            <a  href="/storeCenter/manageReview" type="button" class="py-3 fw-semibold" style="color: #067DFD;">
                                리뷰관리
                            </a>
                        </div>
                    </div>

                    <!-- <div class="row category px-3">
                        <div class="col p-0 d-grid border-bottom">
                            <a href="/storeCenter/balanceAccountsList" type="button" class="py-3 fw-semibold">
                                정산관리
                            </a>
                        </div>
                    </div> -->

                    <!-- <div class="row category px-3">
                        <div class="col p-0 d-grid border-bottom">
                            <a href="/storeCenter/statistics" type="button" class="py-3 fw-semibold">
                                통계
                            </a>
                        </div>
                    </div> -->

                    <div class="row category px-3">
                        <div class="col p-0 d-grid border-bottom">
                            <a href="/storeCenter/storeInfo" type="button" class="py-3 fw-semibold">
                                스토어관리
                            </a>
                        </div>
                    </div>
                    
                    <div class="row category px-3">
                        <div class="col p-0 d-grid border-bottom">
                            <a href="/storeCenter/sellerInfo" type="button" class="py-3 fw-semibold">
                                판매자정보
                            </a>
                        </div>
                    </div>

                    <div class="row py-4 px-3">
                        <div class="col p-0">
                            <div class="row py-3">
                                <div class="col">
                                    <div class="row f08 text-body-secondary">
                                        <div class="col">
                                            금융 서비스 바로가기
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col d-flex align-items-center">
                                            <span class="f09">선정산 서비스</span>
                                            <span class="material-symbols-outlined fw-light f12">
                                                open_in_new
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row py-3">
                                <div class="col">
                                    <div class="row f08 text-body-secondary">
                                        <div class="col">
                                            판매 지원 프로그램
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col d-flex align-items-center">
                                            <span class="f09">파트너센터</span>
                                            <span class="material-symbols-outlined fw-light f12">
                                                open_in_new
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row py-3">
                                <div class="col">
                                    <div class="row f08 text-body-secondary">
                                        <div class="col">
                                            판매 지원 프로그램
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col d-flex align-items-center">
                                            <span class="f09">판매 가이드</span>
                                            <span class="material-symbols-outlined fw-light f12">
                                                open_in_new
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col d-flex align-items-center">
                                            <span class="f09">온라인 교육</span>
                                            <span class="material-symbols-outlined fw-light f12">
                                                open_in_new
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row pt-2">
                                        <div class="col d-flex align-items-center">
                                            <span class="f09">해외직구/판매 안내</span>
                                            <span class="material-symbols-outlined fw-light f12">
                                                open_in_new
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- <div class="row pb-5 px-3">
                        <div class="col">
                            <div class="row">
                                <div class="col p-0 pb-2 f09 border-bottom border-dark fw-semibold">
                                    도움이 필요하신가요?
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col d-grid p-0">
                                    <button class="btn bg-white border py-2 d-flex align-items-center justify-content-center">
                                        <span class="material-symbols-outlined f12 fw-light">
                                            headset_mic
                                        </span> <span class="f09">고객센터 바로가기</span>
                                    </button>
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col d-grid p-0">
                                    <button class="btn bg-white border py-2 f09">
                                        카테고리 담당자 찾기
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>

                <!-- right -->
                <div class="col right" style="padding-top: 60.58px;">
                    
                    <div class="row py-3 px-4">
                        <div class="col p-0 fs-3 fw-bold">
                            리뷰관리
                        </div>
                    </div>

                    <div class="row px-4 pb-4">
                        <div class="col border rounded-0" style="background-color: #FAFAFA;">

                            <div class="row pt-4 px-3 align-items-center">
                                <div class="col-2 text-secondary">
                                    작성일
                                </div>
                                <div class="col-2">
                                    <input type="date" class="form-control rounded-0">
                                </div>
                                <div class="col-2">
                                    <input type="date" class="form-control rounded-0">
                                </div>
                            </div>

                            <div class="row pt-4 px-3 align-items-center">
                                <div class="col-2 text-secondary">
                                    카테고리
                                </div>
                                <div class="col-2">
                                    <select id="productCategorySelectBox" class="form-select rounded-0">
                                        <option value="" disabled selected>대분류</option>
                                        <option th:value="${productCategoryDto.id}" th:text="${productCategoryDto.name}" th:each="productCategoryDto : ${productCategoryDtoList}"></option>
                                    </select>
                                </div>
                                <div class="col-2" id="productSubcategoryContainer">
                                    <select class="form-select productSubcategorySelectBox rounded-0">
                                        <option value="" disabled selected>소분류</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row py-4 px-3 align-items-center">
                                <div class="col-2 text-secondary">
                                    검색어
                                </div>
                                <div class="col-2">
                                    <select id="" class="form-select rounded-0">
                                        <option value="" selected>
                                            상품번호
                                        </option>
                                        <option value="">
                                            주문번호
                                        </option>
                                        <option value="">
                                            구매자
                                        </option>
                                    </select>
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control rounded-0">
                                </div>
                                <div class="col-2"></div>
                            </div>

                            <div class="row py-4 bg-white rounded-bottom-1">
                                <div class="col"></div>
                                <div class="col-2 d-grid pe-0">
                                    <button class="btn s-white-btn py-2 rounded-0 d-flex align-items-center justify-content-center">
                                        초기화
                                    </button>
                                </div>
                                <div class="col-2 d-grid pe-0">
                                    <button class="btn s-dark-btn py-2 rounded-0 d-flex align-items-center justify-content-center">
                                        검색
                                    </button>
                                </div>
                                <div class="col"></div>
                            </div>

                        </div>
                    </div>

                    <div class="row px-4 pb-4">
                        <div class="col border rounded-0 bg-white">
                            <div class="row py-3 px-3 border-bottom">
                                <div class="col fw-semibold">
                                    리뷰 목록 (총 <span class="reviewCount"></span>개)
                                </div>
                            </div>

                            <div class="row px-3 py-3 f09">
                                <div class="col border bg-white" style="height: 20em; overflow-y: auto;">
                                    <div class="row d-flex align-items-stretch border-bottom text-center align-items-center fw-semibold" style="position: sticky; top: 0; z-index: 1; background-color: #fafafa;">
                                        <!-- <div class="col-auto py-3 align-items-center justify-content-center d-flex">
                                            <input id="allOptionsSelectCheckBox" type="checkbox" class="form-check-input">
                                        </div> -->
                                        <!-- <div class="align-items-center justify-content-center d-flex border-end border-start" style="width: 3em;">
                                            No
                                        </div> -->
                                        <div class="col py-3 align-items-center justify-content-center d-flex border-end">
                                            상품명
                                        </div>
                                        <div class="col align-items-center justify-content-center d-flex border-end">
                                            평점
                                        </div>
                                        <!-- <div class="col align-items-center justify-content-center d-flex border-end">
                                            포토
                                        </div> -->
                                        <div class="col-3 align-items-center justify-content-center d-flex border-end">
                                            내용
                                        </div>
                                        <div class="col align-items-center justify-content-center d-flex border-end">
                                            등록자
                                        </div>
                                        <div class="col align-items-center justify-content-center d-flex">
                                            등록일
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col" id="storeReviewContainer">
                                            <!-- 요기에 리뷰 목록 -->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- footer -->
                    <div class="row pt-4 pb-5 border-top fw-light">
                        <div class="col">
                            <div class="row justify-content-center f08">
                                <div class="col-auto border-end">
                                    이용약관
                                </div>
                                <div class="col-auto border-end">
                                    전자금융거래 이용약관
                                </div>
                                <div class="col-auto fw-semibold border-end">
                                    개인정보 처리방침
                                </div>
                                <div class="col-auto border-end">
                                    청소년 보호정책
                                </div>
                                <div class="col-auto border-end">
                                    책임의 한계와 법적고지
                                </div>
                                <div class="col-auto border-end">
                                    안전거래 가이드
                                </div>
                                <div class="col-auto">
                                    고객센터
                                </div>
                            </div>
                            <div class="row text-body-tertiary pt-3 f08">
                                <div class="col text-center">
                                    BASECAMP(주)는 통신판매중개자이며, 통신판매의 당사자가 아닙니다. 상품, 상품정보, 거래에 관한 의무와 책임은 판매자에게 있습니다.<br>
                                    또한 판매자와 구매자간의 직거래에 대하여 당사는 관여하지 않기 때문에 거래에 대해서는 책임을 지지 않습니다.
                                </div>
                            </div>
                            <div class="row justify-content-center pt-3 f08">
                                <div class="col-auto border-end">
                                    사업자등록번호 : 202-40-81412
                                </div>
                                <div class="col-auto border-end">
                                    통신판매업신고번호 : 제2006-강남-10630호
                                </div>
                                <div class="col-auto border-end">
                                    대표이사 : 김첨지
                                </div>
                                <div class="col-auto">
                                    <span class="bg-white border px-2">사업자정보확인</span>
                                </div>
                            </div>
                            <div class="row justify-content-center pt-2 f08">
                                <div class="col-auto">
                                    주소 : 서울특별시 강남구 테헤란로 7길 7, BASECAMP 1784, 13561
                                </div>
                            </div>
                            <div class="row text-center pt-3">
                                <div class="col text-secondary">
                                    <span class="fw-bold f08">BaseCamp</span> <span class="f07">copyright ⓒ BaseCamp Corp. All rights reserved.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>


        </div>

        <div id="template" class="d-none">
            <select class="form-select productSubcategorySelectBox">
                <option value="" disabled selected>소분류</option>
            </select>
            <option value="" class="subcategoryOption"></option>

            <div class="storeReviewRow row d-flex align-items-stretch border-bottom text-center align-items-center bg-white" style="cursor: pointer;">
                <!-- <div class="col-auto py-3 align-items-center justify-content-center d-flex">
                    <input type="checkbox" class="form-check-input">
                </div> -->
                <!-- <div class="align-items-center justify-content-center d-flex border-end border-start" style="width: 3em;">
                    <span class="productNumber">8</span>
                </div> -->
                <div class="col align-items-center justify-content-center d-flex border-end">
                    <span class="productName">상품명</span>
                </div>
                <div class="col align-items-center justify-content-center d-flex border-end">
                    <span class="productRating">평점</span>
                </div>
                <!-- <div class="col align-items-center justify-content-center d-flex border-end">
                    <span class="productStockQuantity">포토</span>
                </div> -->
                <div class="col-3 align-items-center justify-content-center d-flex border-end">
                    <span class="content">내용</span>
                </div>
                <div class="col align-items-center justify-content-center d-flex border-end">
                    <span class="accountId">등록자</span>
                </div>
                <div class="col align-items-center justify-content-center d-flex">
                    <span class="createdAt">등록일</span>
                </div>
            </div>

        </div>

        <!-- modal -->
        <div class="modal" tabindex="-1" id="reviewModal">
            <div class="modal-dialog modal-dialog-scrollable" style="max-width: 650px;">
                <div class="modal-content rounded-0" style="height: 100vh;">
                    <div class="modal-header rounded-0 text-white" style="background-color: #1F2D3D;">
                        <div class="col">
                            리뷰 상세보기
                        </div>
                        <div class="col-auto">
                            <button type="button" class="border-0 bg-transparent text-white d-flex align-items-center text-end p-0" data-bs-dismiss="modal" aria-label="Close">
                                <span class="material-symbols-outlined">
                                    close
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body px-4 pb-0">
                        <div class="col">

                            <div class="row f08">
                                <div class="col py-3" style="border: 3px solid #1f2d3d1b; background-color: #1f2d3d18;">
                                    리뷰 글 번호 <span id="reviewNumber">123456789</span>
                                </div>
                            </div>
    
                            <div class="row">
                                <div class="col border-top-0" style="border: 3px solid #E2E3E5;">
    
                                    <div class="row">
                                        <div class="col py-3">
                                            <div class="row px-3">
                                                <div class="col p-0 pb-2 f09">
                                                    <div class="row align-items-center pb-1">
                                                        <!-- <div class="col">
                                                            <span class="orangered">★★★</span><span class="text-dark text-opacity-25">★★</span>
                                                            <span class="fw-semibold" id="reviewRating">5</span>
                                                        </div> -->
                                                        <div class="col">
                                                            <span class="star-rating d-none" id="star1">
                                                                <span class="orangered">★</span><span class="text-dark text-opacity-25">★★★★</span>
                                                            </span>
                                                            <span class="star-rating d-none orangered" id="star2">
                                                                <span class="orangered">★★</span><span class="text-dark text-opacity-25">★★★</span>
                                                            </span>
                                                            <span class="star-rating d-none orangered" id="star3">
                                                                <span class="orangered">★★★</span><span class="text-dark text-opacity-25">★★</span>
                                                            </span>
                                                            <span class="star-rating d-none orangered" id="star4">
                                                                <span class="orangered">★★★★</span><span class="text-dark text-opacity-25">★</span>
                                                            </span>
                                                            <span class="star-rating d-none orangered" id="star5">
                                                                <span class="orangered">★★★★★</span>
                                                            </span>
                                                            <span class="fw-semibold" id="reviewRating">5</span>
                                                        </div>
                                                        <div class="col text-end text-body-tertiary f08">
                                                            <span id="reviewAccount">guguma</span> | <span id="reviewCreatedAt">2024.08.06</span>
                                                        </div>
                                                    </div>
                                                    <div class="row text-body-tertiary">
                                                        <div class="col">
                                                            옵션: <span id="reviewOption">무슨 어떤 옵션</span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <span class="text-body-tertiary">상품명 : </span><a href="" id="reveiwProductName" style="text-decoration: underline;">납작복숭아</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div class="row px-3 f09">
                                                <div class="col p-0 pt-2 border-top" id="reviewContent">
                                                    내용내용 리뷰리뷰
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="row">
                                        <div class="col py-3 bg-body-tertiary">
                                            <div class="row pb-2">
                                                <div class="col fw-semibold">
                                                    판매자 답글
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col d-grid">
                                                    <textarea id="replyTextarea" oninput="validateInput()" class="rounded-0 px-2" placeholder="반복적인 답글이 아닌 정성스러운 답글을 남겨주세요. 낮은 평점의 리뷰에도 귀 기울여 진심을 담아 구매자와 소통해주시면 스토어 만족도가 높아집니다.^^"></textarea>
                                                </div>
                                            </div>
                                            <div class="row text-end py-2 f09">
                                                <div class="col">
                                                    <span class="text-success" id="replyCount">0</span>/1000(최소 10자)
                                                </div>
                                            </div>
                                            <div class="row text-end" id="beforeReplyButtonRow">
                                                <div class="col">
                                                    <button id="writeReplyButton" class="btn btn-sm bg-white border rounded-0">답글 등록</button>
                                                </div>
                                            </div>
                                            <div class="row justify-content-end" id="afterReplyButtonRow">
                                                <div class="col-auto pe-0">
                                                    <button id="updateReplyButton" class="btn btn-sm bg-white border rounded-0">답글 수정</button>
                                                </div>
                                                <div class="col-auto">
                                                    <button id="deleteReplyButton" class="btn btn-sm bg-white border rounded-0">답글 삭제</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row bg-secondary-subtle py-2">
                                        <div class="col">
                                            <div class="row align-items-center">
                                                <!-- <div class="col-auto">
                                                    <button class="btn f09 bg-white text-secondary border rounded-0 d-flex align-items-center ps-0">
                                                        <span class="material-symbols-outlined fw-light">
                                                            chevron_left
                                                        </span>이전리뷰
                                                    </button>
                                                </div> -->
                                                <div class="col text-center f09">
                                                    <span id="currentCount">2</span>/<span class="reviewCount">21</span>
                                                </div>
                                                <!-- <div class="col-auto">
                                                    <button class="btn f09 bg-white text-secondary border rounded-0 d-flex align-items-center pe-0">
                                                        다음리뷰
                                                        <span class="material-symbols-outlined fw-light">
                                                            chevron_right
                                                        </span>
                                                    </button>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
            
                                </div>
                            </div>

                            <div class="row px-3 pt-3 f08 text-body-tertiary">
                                <ul class="col p-0">
                                    <li>
                                        상품을 구매한 회원이 작성한 리뷰입니다.
                                    </li>
                                    <li>
                                        상품과 관련없는 내용 혹은 이미지 첨부, 욕설, 허위사실, 도배/중복등록 등의 리뷰는 [신고하기]를 통해 삭제요청 하실 수 있습니다.
                                    </li>
                                    <li>
                                        관련없는 이미지, 관련없는 내용, 욕성, 홍보성 도배글로 신고해주시면 신속히 처리됩니다. 다만, 상품불만 내용 등 판매활동에 불이익을 준다는 이유만으로는 처리되지 않습니다.
                                    </li>
                                </ul>
                            </div>
                            <div class="row py-4">
                                <div class="col"></div>
                                <div class="col d-grid text-center">
                                    <button type="button" class="btn bg-white py-2 f09 border border-secondary-subtle rounded-0" data-bs-dismiss="modal">닫기</button>
                                </div>
                                <div class="col"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script>
            function formatNumberToPrice(number) {
                return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }

            document.querySelectorAll('.toggle-icon').forEach(button => {
                button.addEventListener('click', function () {
                    const icon = this.querySelector('.bi');
                    if (icon) {
                        icon.classList.toggle('bi-chevron-down');
                        icon.classList.toggle('bi-chevron-up');
                    }

                    document.querySelectorAll('.toggle-icon .bi').forEach(otherIcon => {
                        if (otherIcon !== icon) {
                            otherIcon.classList.remove('bi-chevron-up');
                            otherIcon.classList.add('bi-chevron-down');
                        }
                    });
                });
            });

            function getProductSubcategoryList(){
                const selectProductCategory = document.getElementById("productCategorySelectBox");
                const category_id = selectProductCategory.value

                const url = `/api/store/getProductSubcategoryDto?category_id=${category_id}`;
                fetch(url)
                .then(response => response.json())
                .then((response) => {

                    const productSubcategoryContainer = document.getElementById("productSubcategoryContainer");
                    productSubcategoryContainer.innerHTML = ""

                    const productSubcategorySelectBox = document.querySelector("#template .productSubcategorySelectBox").cloneNode(true);
                    const subcategoryOption = document.querySelector("#template .subcategoryOption")

                    for(e of response.data.subcategoryDtoList){
                        const newSubcategoryOption = subcategoryOption.cloneNode(true);
                        newSubcategoryOption.innerText = e.name;

                        newSubcategoryOption.value = e.id;

                        productSubcategorySelectBox.appendChild(newSubcategoryOption);
                    }

                    productSubcategoryContainer.appendChild(productSubcategorySelectBox);

                })

            }

            // 왼쪽 메뉴 패딩 변경
            function onResize(){
                const topNaviSeller = document.getElementById("topNaviSeller");
                const height = topNaviSeller.offsetHeight;
                const leftMenu = document.getElementById("leftAccordion");
                leftMenu.style.paddingTop = height + 'px';
            }
            onResize();

            window.addEventListener("resize",function(){onResize();});

            window.addEventListener("DOMContentLoaded", () => {
                productCategorySelectBox.addEventListener("change", getProductSubcategoryList);
                reloadReviewList();
            })

            function reloadReviewList(){
                const url = "/api/store/getStoreReviewList"
                fetch(url)
                .then(response => response.json())
                .then((response) => {
                    const storeReviewList = response.data.storeReviewList

                    const reviewCounts = document.querySelectorAll(".reviewCount")
                    reviewCounts.forEach(reviewCount => reviewCount.innerText = storeReviewList.length)

                    const storeReviewContainer = document.getElementById("storeReviewContainer")
                    storeReviewContainer.innerHTML = ""

                    for(storeReview of storeReviewList){
                        const storeReviewRow = document.querySelector("#template .storeReviewRow").cloneNode(true)
                        
                        storeReviewRow.querySelector(".productName").innerText = storeReview.product_name;
                        storeReviewRow.querySelector(".productRating").innerText = storeReview.rating;
                        const content = storeReviewRow.querySelector(".content")
                        content.innerText = storeReview.content;
                        
                        storeReviewRow.querySelector(".accountId").innerText = storeReview.account;

                        const createdAt = storeReviewRow.querySelector(".createdAt");
                        const date = new Date(storeReview.created_at);
                        const year = date.getFullYear();
                        const month = String(date.getMonth() + 1).padStart(2, '0');
                        const day = String(date.getDate()).padStart(2, '0');
                        const hours = String(date.getHours()).padStart(2, '0');
                        const minutes = String(date.getMinutes()).padStart(2, '0');

                        createdAt.innerText = `${year}.${month}.${day} ${hours}:${minutes}`;

                        storeReviewRow.setAttribute("onclick", `showReviewModal(${storeReview.id})`)

                        storeReviewContainer.appendChild(storeReviewRow)
                    }
                })
            }

            function showReviewModal(id){

                const url = `/api/store/getStoreReviewData?id=${id}`
                fetch(url)
                .then(response => response.json())
                .then((response) => {
                    const reviewModal = bootstrap.Modal.getOrCreateInstance("#reviewModal")

                    const reviewData = response.data.reviewData

                    document.getElementById("reviewNumber").innerText = reviewData.id;
                    document.getElementById("reviewRating").innerText = reviewData.rating;
                    const stars = document.querySelectorAll(".star-rating");
                    stars.forEach(star => {
                        if(star.id==`star${reviewData.rating}`){
                            star.classList.remove("d-none")
                        }else{
                            star.classList.add("d-none")
                        }
                    })

                    document.getElementById("reviewAccount").innerText = reviewData.account;

                    const reviewCreatedAt = document.getElementById("reviewCreatedAt");
                    const date = new Date(reviewData.created_at);
                    const year = date.getFullYear();
                    const month = String(date.getMonth() + 1).padStart(2, '0');
                    const day = String(date.getDate()).padStart(2, '0');
                    reviewCreatedAt.innerText = `${year}.${month}.${day}`;

                    
                    if(reviewData.valueNameList != null){
                        const reviewOption = document.getElementById("reviewOption")
                        reviewOption.innerText = `${reviewData.valueNameList.join("/")}`;
                        reviewOption.classList.remove("d-none");
                    }

                    const reveiwProductName = document.getElementById("reveiwProductName")
                    reveiwProductName.innerText = reviewData.product_name;
                    reveiwProductName.setAttribute("href", `/store/productDetails?id=${reviewData.product_id}`)
                    reveiwProductName.setAttribute("target", `_blank`)

                    document.getElementById("reviewContent").innerText = reviewData.content;
                    document.getElementById("currentCount").innerText = reviewData.currentReviewNumber;

                    if(reviewData.storeSellerReplyDto==null){
                        document.getElementById("beforeReplyButtonRow").classList.remove("d-none");
                        document.getElementById("afterReplyButtonRow").classList.add("d-none");
                        document.getElementById("replyTextarea").value = ""
                        document.getElementById("replyCount").innerText = 0
                    }else{
                        document.getElementById("beforeReplyButtonRow").classList.add("d-none");
                        document.getElementById("afterReplyButtonRow").classList.remove("d-none");
                        document.getElementById("replyTextarea").value = reviewData.storeSellerReplyDto.content
                        document.getElementById("replyCount").innerText = reviewData.storeSellerReplyDto.content.length;
                    }

                    document.getElementById("writeReplyButton").setAttribute("onclick", `writeReply(${reviewData.id})`)
                
                    reviewModal.show();                    
                })
            }

            function writeReply(reviewId){
                const replyCount = document.getElementById("replyCount");
                const replyTextarea = document.getElementById("replyTextarea")
                if(replyCount.innerText<10){
                    alert("답글을 최소 10자 이상 작성해주세요")
                    replyTextarea.focus();
                    return;
                }
                const replyContent = replyTextarea.value;

                const sellerReply = {
                    review_id: reviewId,
                    content: replyContent
                }

                const url = '/api/store/writeSellerReply'
                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(sellerReply)
                })
                .then(response => response.json())
                .then((response) => {
                    alert("답글이 등록 되었습니다")
                    showReviewModal(reviewId)
                })
            }

            function validateInput(){
                document.getElementById("replyCount").innerText = document.getElementById("replyTextarea").value.length;
            }
        </script>
    </body>
</html>
