<!-- top Navi -->
<div class="container-fluid" th:fragment="topNavi">
    <div id="topNaviSeller" class="row fixed-top align-items-center py-2 px-3 store-center darkBg text-white">
        <div class="col d-flex text-white align-items-center">
            <img src="/public/img/common/로고흰버전.png" style="width: 9.3em;"><span class="fs-4">_Caravan</span>
        </div>
        <div class="col fs-5 text-end">
            <span class="fw-medium" th:if="${session.sessionCaravanInfo!=null}" th:text="${session.sessionCaravanInfo.comp_nickname}+'님'"></span>
            <span th:unless="${session.sessionCaravanInfo!=null}">비회원</span>
        </div>
        <div class="col-auto px-2 d-flex align-items-center text-white position-relative">
            <div class="col d-flex align-items-center position-relative ps-0">
                <span class="material-symbols-outlined fw-light">
                    notifications
                </span>
                <span class="badge d-flex align-items-center text-bg-danger rounded-circle position-absolute pt-1 px-1" style="padding-bottom: 0.65em; left: 62%;top: -25%;">
                    <span class="new-fs-65">20</span>
                </span>
            </div>
        </div>
        <form action="/partner/logoutProcess" class="col-auto" th:if="${session.sessionCaravanInfo!=null}">
            <button class="btn btn-outline-light btn-sm fw-bold text-white">로그아웃</button>
        </form>
        <form action="/partner/loginProcess" class="col-auto" th:unless="${session.sessionCaravanInfo!=null}">
            <button class="btn btn-outline-light btn-sm fw-meidum text-white">로그인</button>
        </form>
    </div>
</div>


<!-- left Navi -->
<div th:fragment="leftNavi" class="col border-end scrollable scrollBar left" id="leftAccordion" style="color: white; padding-top: 58px; background-color: #304156;">
    <!-- 프로필 섹션 -->
    <div class="row py-4">
        <div class="col">
            <div class="row">
                <div class="col seller_profile text-center">
                    <img th:if="${session.sessionCaravanInfo != null}" th:src="|/images/${session.sessionCaravanInfo.comp_profile_image}|" class="rounded-circle">
                    <img th:unless="${session.sessionCaravanInfo != null}" src="/public/img/common/default_profile.png" class="rounded-circle">
                </div>
            </div>
            <div class="row text-center pt-2 fw-bold">
                <div class="col">
                    <span th:if="${session.sessionCaravanInfo!=null}" th:text="${session.sessionCaravanInfo.comp_nickname}">사카밤바스피스</span>
                    <span th:unless="${session.sessionCaravanInfo!=null}">로그인 후 이용 가능합니다</span>
                </div>
            </div>
        </div>
    </div>
    <!-- 대쉬보드 -->
    <div class="row category">
        <div class="col  ps-3 pe-0 d-grid">
            <a class="py-3 accordion-button collapsed fw-semibold fs-7" href="/partner/dashboard">
                <span class="material-symbols-outlined fs-7 thin-icon">dashboard</span>
                <div class="ps-2">Dashboard</div>
            </a>
        </div>
    </div>

    <!-- 1. 차량등록 섹션 -->
    <div class="row category toggle-icon" data-bs-toggle="collapse" data-bs-target="#first-collapse" aria-expanded="false">
        <div class="col ps-3 pe-0 d-grid fs-5">
            <a class="py-3 accordion-button collapsed fw-semibold" href="/partner/dashboard">
                <span class="material-symbols-outlined thin-icon">directions_car</span>
                <div class="ps-2">차량 등록</div>
            </a>
        </div>
        <div class="col-auto ps-0 d-grid fs-5">
            <button type="button" class="py-3 accordion-button collapsed">
                <span class="material-symbols-outlined dropdown-icon thin-icon">keyboard_arrow_down</span>
            </button>
        </div>
    </div>

    <!-- 차량등록_서브카테고리 -->
    <div class="row accordion-collapse collapse" id="first-collapse" data-bs-parent="#leftAccordion">
        <div class="col">
            <a class="row accordion-body py-3 ps-5 subcategory" href="/partner/carRegister" id="productRegister">
                차량 등록
            </a>
            <a class="row accordion-body py-3 ps-5 subcategory" href="/partner/carManagement">
                차량 조회/수정
            </a>
        </div>
    </div>

    <!-- 2. 예약관리 섹션 -->
    <div class="row category toggle-icon" data-bs-toggle="collapse" data-bs-target="#second-collapse" aria-expanded="false">
        <div class="col ps-3 pe-0 d-grid fs-5">
            <button type="button" class="py-3 accordion-button collapsed fw-semibold">
                <span class="material-symbols-outlined thin-icon">event_available</span> 
                <div class="ps-2">예약</div>
            </button>
        </div>
        <div class="col-auto ps-0 d-grid fs-5">
            <button type="button" class="py-3 accordion-button collapsed">
                <span class="material-symbols-outlined dropdown-icon thin-icon">keyboard_arrow_down</span>
            </button>
        </div>
    </div>

    <!-- 예약관리_서브카테고리 -->
    <div class="row accordion-collapse collapse" id="second-collapse" data-bs-parent="#leftAccordion">
        <div class="col">
            <a class="row accordion-body py-3 ps-5 subcategory" href="/partner/reservation_status">
                예약 현황
            </a>
            <a class="row accordion-body py-3 ps-5 subcategory" href="/partner/bookReservation">
                예약 내역
            </a>
            <a class="row accordion-body py-3 ps-5 subcategory" href="/partner/optionSettings">
                옵션신청
            </a>
            <a class="row accordion-body py-3 ps-5 subcategory" href="/partner/peakSeason">
                성수기·휴일
            </a>
            <a class="row accordion-body py-3 ps-5 subcategory" href="/partner/settings">
                환경 설정
            </a>
        </div>
    </div>

    <!-- 3. 문의/리뷰 관리 섹션 -->
    <div class="row category toggle-icon" data-bs-toggle="collapse" data-bs-target="#third-collapse" aria-expanded="false">
        <div class="col ps-3 pe-0 d-grid fs-5">
            <button type="button" class="py-3 accordion-button collapsed fw-semibold">
                <span class="material-symbols-outlined thin-icon">feedback</span>
                <div class="ps-2">리뷰 관리</div>
            </button>
        </div>
        <div class="col-auto ps-0 d-grid fs-5">
            <button type="button" class="py-3 accordion-button collapsed">
                <span class="material-symbols-outlined dropdown-icon thin-icon">keyboard_arrow_down</span>
            </button>
        </div>
    </div>

    <!-- 문의/리뷰_서브카테고리 -->
    <div class="row accordion-collapse collapse" id="third-collapse" data-bs-parent="#leftAccordion">
        <div class="col">
            <a class="row accordion-body py-3 ps-5 subcategory" href="/partner/reviewManage">
                리뷰관리
            </a>
        </div>
    </div>

    <!-- 4. 컨텐츠 관리 -->
    <div class="row category toggle-icon" data-bs-toggle="collapse" data-bs-target="#fourth-collapse" aria-expanded="false">
        <div class="col ps-3 pe-0 d-grid fs-5">
            <button type="button" class="py-3 accordion-button collapsed fw-semibold">
                <span class="material-symbols-outlined thin-icon">edit_square</span> 
                <div class="ps-2">대여/반납 관리</div>
            </button>
        </div>
        <div class="col-auto ps-0 d-grid fs-5">
            <button type="button" class="py-3 accordion-button collapsed">
                <span class="material-symbols-outlined dropdown-icon thin-icon">keyboard_arrow_down</span>
            </button>
        </div>
    </div>

    <!-- 컨텐츠관리_서브카테고리 -->
    <div class="row accordion-collapse collapse" id="fourth-collapse" data-bs-parent="#leftAccordion">
        <div class="col">
            <a class="row accordion-body py-3 ps-5 subcategory" href="/partner/rentalManagement">
                차량 대여 관리
            </a>
            <a class="row accordion-body py-3 ps-5 subcategory" href="/partner/returnManagement">
                차량 반납 관리
            </a>
        </div>
    </div> 

   <!-- 5. 통계 섹션 -->
    <div class="row category toggle-icon" data-bs-toggle="collapse" data-bs-target="#fifth-collapse" aria-expanded="false">
        <div class="col ps-3 pe-0 d-grid fs-5">
            <button type="button" class="py-3 accordion-button collapsed fw-semibold">
                <span class="material-symbols-outlined thin-icon">chart_data</span>
                <div class="ps-2">통계</div>
            </button>
        </div>
        <div class="col-auto ps-0 d-grid fs-5">
            <button type="button" class="py-3 accordion-button collapsed">
                <span class="material-symbols-outlined dropdown-icon thin-icon">keyboard_arrow_down</span>
            </button>
        </div>
    </div>

    <!-- 통계_서브카테고리 -->
    <div class="row accordion-collapse collapse p-0" id="fifth-collapse" data-bs-parent="#leftAccordion">
        <div class="col">
            <a class="row accordion-body py-3 ps-5 subcategory" href="/partner/statistics">
                홈
            </a>
            <a class="row accordion-body py-3 ps-5 subcategory" href="/partner/sales">
                매출 통계
            </a>
            <!-- 추가 메뉴 생략 -->
        </div>
    </div>

    <div class="row py-3">
        <div class="col">
            <div class="row new-fs-8 text-white">
                <div class="col">
                    판매 지원 프로그램
                </div>
            </div>
            <div class="row pt-2">
                <div class="col d-flex align-items-center">
                    <span class="new-fs-9">파트너센터</span>
                    <span class="material-symbols-outlined fw-light thin-icon">
                        open_in_new
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-3">
        <div class="col">
            <div class="row new-fs-8 text-white">
                <div class="col">
                    판매 지원 프로그램
                </div>
            </div>
            <div class="row pt-2">
                <div class="col d-flex align-items-center">
                    <span class="new-fs-9">판매 가이드</span>
                    <span class="material-symbols-outlined fw-light thin-icon">
                        open_in_new
                    </span>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col d-flex align-items-center">
                    <span class="new-fs-9">온라인 교육</span>
                    <span class="material-symbols-outlined fw-light f12 thin-icon">
                        open_in_new
                    </span>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col d-flex align-items-center">
                    <span class="new-fs-9">해외직구/판매 안내</span>
                    <span class="material-symbols-outlined fw-light f12 thin-icon">
                        open_in_new
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>